<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<form class="row g-3">
  <div class="row g-3">
    <div class="field col-md-6">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="field col-md-6">
      <%= form.label :location, class: "form-label" %>
      <%= form.text_field :location, class: "form-control" %>
    </div>
  </div>
  <br/>

  <div class="row g-3">
    <div class="field col-md-6">
      <%= form.label :fund_partner, class: "form-label" %>
      <%= form.text_field :fund_partner, class: "form-control" %>
    </div>
    <div class="field col-md-6">
      <%= form.label :install_date, class: "form-label" %>
      <%= form.text_field :install_date, class: "form-control" %>
    </div>
  </div>
  <br/>

  <div class="field col-12">
    <%= form.label :system, class: "form-label" %>
    <%= form.text_field :system, class: "form-control" %>
  </div>
  <br/>

  <div class="field col-12">
    <%= form.label :technician, class: "form-label" %>
    <%= form.text_field :technician, class: "form-control" %>
  </div>
  <br/>

  <div class="actions">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
</form>
<br/>

<% end %>
