<div class="card border-dark mb-3">
  <div class="card-header">
    <%= @report.name %>
  </div>
  <div class="card-body text-dark">
    <h4 class="card-title">Location</h4>
    <p class="card-text">
      <%= @report.location %>
    </p>
    <h4 class="card-title">Funding Partner</h4>
    <p class="card-text">
      <%= @report.fund_partner %>
    </p>
    <h4 class="card-title">Installation Date</h4>
    <p class="card-text">
      <%= @report.install_date %>
    </p>
    <h4 class="card-title">System Components</h4>
    <p class="card-text">
      <%= @report.system %>
    </p>
    <h4 class="card-title">Technicians</h4>
    <p class="card-text">
      <%= @report.technician %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_report_path(@report), class: "btn btn-dark" %>
<%= link_to 'Back', reports_path, class: "btn btn-secondary" %>
